<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>usercrud</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
  <servlet-name>stu</servlet-name>
  <servlet-class>com.lijin.servlet.StuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stu</servlet-name>
    <url-pattern>/stus</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>classes</servlet-name>
    <servlet-class>com.lijin.servlet.ClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classes</servlet-name>
    <url-pattern>/classes</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>pwd</servlet-name>
    <servlet-class>com.lijin.servlet.PwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwd</servlet-name>
    <url-pattern>/pwds</url-pattern>
  </servlet-mapping>
  
</web-app>